.home-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    width: 10vw;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
